<section id="face">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>{{title}}</h2>

        <div class="d-flex justify-content-center">
          <canvas id="canvas-input"></canvas>
        </div>

        <div *ngIf="mostrarBoton == true" class="d-flex justify-content-center mt-3">

          <select (change)="onChangeImage($event.target.value)">
            <option *ngFor="let imagen of imagenes" [value]="imagen.value">
              {{imagen.display}}
            </option>
          </select>

          <button class="btn btn-primary" (click)="drawFace()">dibujar</button>
        </div>


        <div class="d-flex justify-content-center">
          <img id="image-input" style="visibility: hidden" [src]="imgscr" />
        </div>

      </div>
    </div>
  </div>
</section>