<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['welcome']">
          Dashboard <span class="sr-only">/</span>
        </a>
      </li>
      <li class="nav-item">

        <a class="nav-link" [routerLink]="['/componente1']">
          <i-feather name="archive" class="fill-blue"></i-feather> Componente 1
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/componente2']">
          <i-feather name="briefcase" class="fill-red"></i-feather> 
          Componente 2
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/upload']">
          <i-feather name="upload" class="fill-blue"></i-feather> Upload
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/upload-angie']">
          <i-feather name="upload" class="fill-blue"></i-feather> Upload Angie
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/upload-angie-pdf']">
          <i-feather name="upload" class="fill-blue"></i-feather> Upload Angie Pdf
        </a>
      </li>

    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Otros</span>
    </h6>

    <ul class="nav flex-column mb-2">

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/facedetection']">
          <i-feather name="eye" class="fill-blue"></i-feather> face
        </a>
      </li>
  
    </ul>
  </div>
</nav>
