<section id="upload">
  <div class="container">

    <div class="row">
      <div class="col-lg-8 mx-auto mt-3">
        <div class="container">

          <div>
            <div *ngIf="error">
              <div class="alert alert-danger" role="alert">
                {{ error.message }}
              </div>
            </div>
            <div *ngIf="uploadResponse.status === 'error'">
              <div class="alert alert-danger" role="alert">
                {{ uploadResponse.message }}
              </div>
            </div>
            <div *ngIf="uploadResponse.status === 'progress'">

              <div class="alert alert-primary" role="alert">
                <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100">
                  {{uploadResponse.message}}%
                </div>
              </div>
            </div>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">

              <div class="form-group row">
                <div class="col-sm-12">
                  <input class="btn btn-primary btn-lg btn-block"  type="file" name="myfile" (change)="onFileChange($event)" />
                  <!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Recortar</button> -->
                </div>
              </div>
              
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
